<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form action="signup" method="post" th:object="${user}">
        <span>Username: </span>
        <input type="text" th:field="*{username}">
        <span>Password: </span>
        <input type="password" th:field="*{password}">
        <span> Re Password: </span>
        <input type="password" th:field="*{rePassword}">
        <button type="submit">Sign up</button>
    </form>
</body>
</html>